{% extends 'base.html.twig' %}

{% block title %}New Jambes{% endblock %}

{% block body %}
    <h1>Create new Jambes</h1>

    {{ include('jambes/_form.html.twig') }}

    <a href="{{ path('app_jambes_index') }}">back to list</a>
{% endblock %}
