@use "sass:math";
$nbclasses:21;
$ecart:5;
@for $i from 0 through $nbclasses {
  .w-#{($ecart* $i)}{
    width: $ecart*$i*1%;
  }
  .h-#{($ecart* $i)}{
    height: $ecart*$i*1%;
  }
  .opacity-#{($ecart* $i)}{
    opacity: $ecart*$i*0.01;
  }
  .margin-lat-#{($ecart* $i)}{
    margin-left:$ecart*$i*1%;
    margin-right:$ecart*$i*1%;
  }
  .margin-vert-#{($ecart* $i)}{
    margin-top:$ecart*$i*1%;
    margin-bottom:$ecart*$i*1%;
  }
  .margin-top-#{($ecart* $i)}{
    margin-top:$ecart*$i*1%;
  }
  .margin-bot-#{($ecart* $i)}{
    margin-bottom:$ecart*$i*1%;
  }
}
.fix{
    position: fixed;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-row-rev{
    flex-direction: row-reverse;
    display: flex;
}
.flex-col{
    flex-direction: column;
    display: flex;
}
.top-right-abs{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.top-right-fix{
    position: fixed;
    top: 0;
    right: 0;
}
.texte-centre{
    text-align: center;
}
.display-no{
    display:none;
}
.overflow-hidden{
    overflow: hidden;
}
.transition-rapide-horiz{
    transition: width 0.5s ease;
}
.transition-rapide-vert{
    transition: height 0.5s ease;
}
.li-propres{
    list-style: none;
    padding: 0;
}
.pointeur{
    cursor: pointer;
}
.premier-plan{
    z-index: 2;
}
.second-plan{
    z-index: 1;
}
.troisieme-plan{
    z-index: 0;
}